.styled-table {
    border-collapse: collapse;
    width: 100%;
}

.styled-table th,
.styled-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.styled-table thead th { /* Estilo para los encabezados de columna */
    background-color: navy;
    color: white;
}

.styled-table .ant-table-cell { /* Estilo para las celdas de la tabla */
    border: 1px solid #dddddd;
}